<%include ./inc/left_menu.html%>
<div class="m_content">
    <div class="content_head"><p><span class="span_head2">个人基本资料</span></p></div>
    <div class="content_box">
        <div class="profile_outer">
            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                    <label for="name" class="col-sm-1 control-label">姓名</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="name" name="name" value="" placeholder="姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nickname" class="col-sm-1 control-label">昵称</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="nickname" name="nickname" value="" placeholder="昵称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">性别</label>
                    <div class="col-sm-3">
                        <label class="checkbox-inline"><input type="checkbox" name="sex" id="sex1" checked value="1"> 男</label>
                        <label class="checkbox-inline"><input type="checkbox" name="sex" id="sex2" value="2"> 女</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="oldCity" class="col-sm-1 control-label">户籍地</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="oldCity" name="oldCity" value="" placeholder="户籍地">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nowCity" class="col-sm-1 control-label">现居地</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="nowCity" name="nowCity" value="" placeholder="现居地">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-1 control-label">手机</label>
                    <div class="col-sm-3">
                        <input type="tel" class="form-control" id="mobile" name="mobile" value="" placeholder="手机">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-1 control-label">邮箱</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" id="email" name="email" value="" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <label for="workDate" class="col-sm-1 control-label">入职日期</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="workDate" name="workDate" value="" placeholder="入职日期">
                    </div>
                </div>
                <div class="form-group">
                    <label for="work" class="col-sm-1 control-label">工作</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="work" name="work" value="" placeholder="工作">
                    </div>
                </div>
                <div class="form-group">
                    <label for="company" class="col-sm-1 control-label">公司</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="company" name="company" value="" placeholder="公司">
                    </div>
                </div>
                <div class="form-group">
                    <label for="companyWebsite" class="col-sm-1 control-label">公司官网</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="companyWebsite" name="companyWebsite" value="" placeholder="公司官网">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">工作状态</label>
                    <div class="col-sm-3">
                        <label class="checkbox-inline"><input type="checkbox" name="workStatus" id="workStatus1" checked value="1"> 在职</label>
                        <label class="checkbox-inline"><input type="checkbox" name="workStatus" id="workStatus2" value="2"> 已离职</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-1 control-label">描述</label>
                    <div class="col-sm-3">
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-3">
                        <!--<button type="button" class="btn btn-info">提交</button>-->
                        <input type="submit"/>
                    </div>
                </div>

            </form>
        </div>



    </div>
</div>
