<%include ./inc/left_profile_menu.html%>
<div class="m_content">
    <div class="content_head"><p><span class="span_head2">用户列表</span></p></div>
    <div class="content_box">
        <table class="table table-triped">
            <tr class="info"><th>姓名</th><th>昵称</th><th>手机</th><th>工作</th><th>操作</th></tr>
            <%for(var i=0; i<list.length; i++){%>
            <td>aaa</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <%}%>
        </table>

    </div>
</div>
