<div class="vertical_head">
    <dl class="vertical-top">
        <dt>
            <img src="/images/admin/operating.png" alt=""/>
            <span>个人信息</span>
        </dt>
        <dd>
            <ul>
                <li><a href="/admin" class="opration_a active">首页</a></li>
                <li><a href="/admin/notice/list" class="opration_a">平台公告管理</a></li>
                <li><a href="/admin/teams" class="opration_a">工作团队列表</a></li>
                <li><a href="/admin/teams/wait-checks" class="opration_a">团队认证<span class="number">16</span></a></li>
                <li><a href="/admin/theme/add" class="opration_a">主题录入</a></li>
                <li><a href="/admin/article/add" class="opration_a">游记录入</a></li>
                <li><a href="/admin/app/versions" class="opration_a">app版本管理</a></li>
            </ul>
        </dd>
    </dl>
</div>