<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="css/skin1.css" rel="stylesheet" type="text/css" media="all">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Chenxi,Blog" />
<meta name="Description" content="Chenxi's Blog" />
<title>Chenxi's Home</title>
</head>

<body>
<div class="top_color"></div>
<div class="body">
	<div class="con_right">
		<ul class="banner">
			<li style="margin:90px 0 0 10px" class="radius2"><a href="index.html"><em class="radius2"></em>我的首页</a></li>
			<li style="margin:120px 0 0 25px" class="radius2 sp"><a href="about.html"><em class="radius2"></em> 关于我</a></li>
			<li style="margin:90px 0 0 30px" class="radius2"><a href="http://hi.baidu.com/chenxi_195" target="_blank"><em class="radius2"></em> 我的博客</a></li>
            <li style="margin:120px 0 0 20px" class="radius2"><a href="material.html"><em class="radius2"></em> 资料搜集</a></li>
			<div class="clear"></div>
		</ul>
		<h1 class="about">About Me</h1>
		<div class="about_text radius shadow" style="height:478px">
			<dl>
				<dt><img src="images/me.jpg" class="radius2 shadow"/></dt>
				<dd>
					<p><b style="color:yellow">陈曦 （昵：小妖曦）</b></p>
					<p>女 | 未婚 | 1987 年3月生 | 户口：四川成都 | 现居住于北京</p>
					<p>18610632337(手机) | E-mail: <a href="mailto:chenxi195@gmail.com">chenxi195@gmail.com</a></p>
					<p>西华大学 | 艺术设计 | 本科 | 文学学士学位 | 英语四级</p>
					<p>前端开发工程师 | 4年工作经验 | 无党派人士 </p>
					<p>现就职于：立思辰 | <a href="http://www.lanxum.com/" target="_blank">www.lanxum.com</a></p>
					<p>精通Html+CSS，熟练各种seo技能，熟悉JavaScript，熟练使用photoshop，精通六大主流浏览器和各种手机浏览器的兼容性调试，精通web2.0，熟悉用户体验，有良好的web思想，对前后台配合，有丰富的工作经验。做过大型网站，iphone游戏，Android游戏，日本和国内手机游戏，对研究Html5+CSS3+JavaScript有浓厚兴趣。</p>
					<p><b style="color:yellow">工作经历：</b></p>
					<p>2009.09-2011.10 博看科技（北京）有限公司</p>
					<p>2011.10-2013.03 胡莱游戏</p>
					<p>2013.03-至今 立思辰</p>
					<p><b style="color:yellow">技能经历：</b></p>
					<p>大学四年设计，一毕业因喜爱网页制作学习了前端技能（html+css+javascript），后因公司转型开始了制作游戏界面的生涯，也因此慢慢喜欢上研究html5相关技能(html5+css3+canvas+box2d)，未来目标是能制作出各种复杂物理模型，和华丽丽的界面效果，誓要做前端无所不能的superman。。^_^</p>
					<p><b style="color:yellow">兴趣经历：</b></p>
					<p>对外宣称爱唱歌跳舞。。那是过去的事了。。现在除了闷骚还是闷骚。。。此处省略五千字。。。</p>
					<p><b style="color:yellow">个人评价：</b></p>
					<p>死宅，爱吐槽，腹黑，不认真会死，技术流。。。。</p>
				</dd>
			</dl>
		</div>		
	</div>
	
	<div class="con_left shadow radius" style="margin:20px;width:440px;">
		<div class="top_img"><img src="images/projec.jpg"/></div>
		<ol>
			<li>
				<dl>
					<dt class="tu1 radius2 shadow"></dt>
					<dd>
						<p>挖宝猎人-手机社交游戏(已下线)</p>
						<p>日本手机版的挖宝猎人，同时兼容docomo,softbank,au三个手机运营商旗下的多款手机机型，因在日本反应良好，故之后在国内人人网手机平台上推出了奇迹挖宝。。。</p>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt class="tu2 radius2 shadow"></dt>
					<dd>
						<p><a href="http://www.amchamchina.org/" target="_blank">中美商会--大型商业网站</a></p>
						<p>历时四个月的开发才得以上线，因为网站是政府重要的商业网站所以在开发过程中，全程保密，严谨的的工作环境让这个大的项目得以实现。网站的右下角有powered by bokantech水印。。。</p>
					</dd>
				</dl>			
			</li>
			<li>
				<dl>
					<dt class="tu3 radius2 shadow"></dt>
					<dd>
						<p>mobo-手机社交游戏(已下线)</p>
						<p>日本手机版的mobo又名魔堡，同时兼容docomo,softbank,au三个手机运营商旗下的多款手机机型，是一款塔防+装扮+培养类社交游戏。。。</p>
					</dd>
				</dl>			
			</li>
			<li>
				<dl>
					<dt class="tu4 radius2 shadow"></dt>
					<dd>
						<p><a href="http://uschinaecp.org/" target="_blank">ECP 中美能源合作项目--小型商业网站</a></p>
						<p>中美商会旗下的项目，小型网站只需要花一个月时间上线。。。小组三个成员，设计师+前端+后台，浏览器全兼容。。。</p>
					</dd>
				</dl>			
			</li>
			<li>
				<dl>
					<dt class="tu5 radius2 shadow"></dt>
					<dd>
						<p><a href="http://www.uschinaacp.com/" target="_blank">ACP 中美航空合作项目--小型商业网站</a></p>
						<p>中美商会旗下的项目，小型网站只需要花一个月时间上线。。。小组三个成员，设计师+前端+后台，浏览器全兼容。。。</p>
					</dd>
				</dl>			
			</li>
			<li>
				<dl>
					<dt class="tu6 radius2 shadow"></dt>
					<dd>
						<p>GameJ-体育类有奖竞猜游戏iphone App</p>
						<p>与澳大利亚playup公司合作的游戏项目，全用html5+css3+jquery实现。。。</p>
					</dd>
				</dl>			
			</li>
			<li>
				<dl>
					<dt class="tu7 radius2 shadow"></dt>
					<dd>
						<p><a href="http://www.hoolai.com" target="_blank">胡莱游戏官网--公司官网</a></p>
						<p>界面整体用iframe架构，小组成员四人，浏览器全兼容。。。</p>
					</dd>
				</dl>			
			</li>
		</ol>
	</div>
	<div class="clear"></div>
</div> 
<div class="footerMain"> 
<div class="footer">
   <ul>
      <li><a href="index.html">我的首页</a>|</li>
      <li><a href="about.html">关于我</a>|</li>
	  <li><a href="http://hi.baidu.com/chenxi_195" target="_blank">我的博客</a>|</li>
      <li><a href="material.html">资料搜集</a></li>
      <div class="clear"></div>
    </ul>  
    <p class="copyright"> © identical 2011. All Rights Reserved. <span class="design">Designed by : Xi.Chen</span></p>
</div>
</div>
<div class="bottom_color"></div>
</body>
</html>
