<div class="col-lg-6">
    <div class="banner">
        <div class="banner_items">
            <span class="banner1"><a href="index"><em class="radius2"></em>我的首页</a></span>
            <span class="banner2 sp"><a href="about"><em class="radius2"></em> 关于我</a></span>
            <span class="banner3"><a href="http://hi.baidu.com/chenxi_195" target="_blank"><em class="radius2"></em> 我的博客</a></span>
            <span class="banner4"><a href="material"><em class="radius2"></em> 资料搜集</a></span>
        </div>
    </div>

    <div class="about">About Me</div>
    <div class="about_content">
        <dl>
            <dt><img src="images/me.jpg" class="img-rounded"/></dt>
            <dd>
                <span>陈曦 （昵：小妖曦）</span>
                <span>女 | 已婚 | 1987 年3月生 | 户口：四川成都 | 现居住于北京</span>
                <span>暂时保密 | E-mail: 暂时保密</span>
                <span>西华大学 | 艺术设计 | 本科 | 文学学士学位 | 英语四级</span>
                <span>资深前端开发工程师 | 5年工作经验 | 无党派人士 </span>
                <span>现就职于：途灵岛（北京）信息技术股份有限公司 | <a href="http://www.tulingdao.com/" target="_blank">www.tulingdao.com</a></span>
                <span>精通Html+CSS，熟练各种seo技能，熟悉JavaScript，熟练使用photoshop，精通六大主流浏览器和各种手机浏览器的兼容性调试，精通web2.0，熟悉用户体验，有良好的web思想，对前后台配合，有丰富的工作经验...</span>
                <span><a href="about" class="btn btn-danger btn-xs more">More</a></span>
            </dd>
        </dl>
    </div>
</div>
<div class="col-lg-6">
    <div class="top_img"><img src="images/my-project.png" class="img-rounded" width="100%"/></div>
    <div class="project_list">
        <dl>
            <dt class="tu1"></dt>
            <dd>
                <p>挖宝猎人-手机社交游戏(已下线)</p>
                <p>日本手机版的挖宝猎人，同时兼容docomo,softbank,au三个手机运营商旗下的多款手机机型，因在日本反应良好，故之后在国内人人网手机平台上推出了奇迹挖宝。。。</p>
            </dd>
        </dl>
        <dl>
            <dt class="tu2 radius2 shadow"></dt>
            <dd>
                <p><a href="http://www.amchamchina.org/" target="_blank">中美商会--大型商业网站</a></p>
                <p>历时四个月的开发才得以上线，因为网站是政府重要的商业网站所以在开发过程中，全程保密，严谨的的工作环境让这个大的项目得以实现。网站的右下角有powered by bokantech水印。。。</p>
            </dd>
        </dl>
        <dl>
            <dt class="tu3 radius2 shadow"></dt>
            <dd>
                <p>mobo-手机社交游戏(已下线)</p>
                <p>日本手机版的mobo又名魔堡，同时兼容docomo,softbank,au三个手机运营商旗下的多款手机机型，是一款塔防+装扮+培养类社交游戏。。。</p>
            </dd>
        </dl>
        <dl>
            <dt class="tu4 radius2 shadow"></dt>
            <dd>
                <p><a href="http://uschinaecp.org/" target="_blank">ECP 中美能源合作项目--小型商业网站</a></p>
                <p>中美商会旗下的项目，小型网站只需要花一个月时间上线。。。小组三个成员，设计师+前端+后台，浏览器全兼容。。。</p>
            </dd>
        </dl>
        <dl>
            <dt class="tu5 radius2 shadow"></dt>
            <dd>
                <p><a href="http://www.uschinaacp.com/" target="_blank">ACP 中美航空合作项目--小型商业网站</a></p>
                <p>中美商会旗下的项目，小型网站只需要花一个月时间上线。。。小组三个成员，设计师+前端+后台，浏览器全兼容。。。</p>
            </dd>
        </dl>
        <dl>
            <dt class="tu6 radius2 shadow"></dt>
            <dd>
                <p>GameJ-体育类有奖竞猜游戏iphone App</p>
                <p>与澳大利亚playup公司合作的游戏项目，全用html5+css3+jquery实现。。。</p>
            </dd>
        </dl>
        <dl>
            <dt class="tu7 radius2 shadow"></dt>
            <dd>
                <p><a href="http://www.hoolai.com" target="_blank">胡莱游戏官网--公司官网</a></p>
                <p>界面整体用iframe架构，小组成员四人，浏览器全兼容。。。</p>
            </dd>
        </dl>
    </div>
</div>


	

