<link rel="stylesheet" href="stylesheets/normalize.css" type="text/css">
<link rel="stylesheet" href="stylesheets/about.css" type="text/css">
<script src="javascripts/jquery-1.9.1.min.js"></script>
<script src="javascripts/jquery.lettering-0.6.1.min.js"></script>
<script src="javascripts/jquery.scrollorama.js"></script>


<div class="scrollblock" id="intro">
    <h1 id="title">chenxi</h1>
    <div class="con_right">
        <ul class="banner">
            <li style="margin:90px 0 0 10px" class="radius2"><a href="index.html"><em class="radius2"></em>我的首页</a></li>
            <li style="margin:120px 0 0 25px" class="radius2 sp"><a href="#"><em class="radius2"></em> 关于我</a></li>
            <li style="margin:90px 0 0 30px" class="radius2"><a href="http://hi.baidu.com/chenxi_195" target="_blank"><em class="radius2"></em> 我的博客</a></li>
            <li style="margin:120px 0 0 20px" class="radius2"><a href="material.html"><em class="radius2"></em> 资料搜集</a></li>
            <div class="clear"></div>
        </ul>
    </div>
</div>

<div class="scrollblock" id="examples-transition">
    <h2>The</h2>
    <h3 id="fade-in">Website</h3>
    <h3 id="fly-in">front-end</h3>
    <h3 id="rotate-in">development</h3>
    <h3 id="zoom-in">engineer</h3>
    <p id="any"><small><span class="accent">&#9733;</span> html+css+javascript <span class="accent">&#9733;</span></small></p>
</div>

<div class="scrollblock" id="examples-pin">
    <h2>About Me</h2>
    <h3 id="unpin">&#9733; 陈曦 （昵：小妖曦） &#9733;</h3>
</div>

<div class="scrollblock" id="examples-parallax">
    <h2 id="parallax1">Information</h2>
    <h3 id="parallax2">Information</h3>
    <h3 id="parallax3">Information</h3>
    <div class="about_text radius shadow" style="height:478px">
        <dl>
            <dt><img src="images/me.jpg" class="radius2 shadow"/></dt>
            <dd>
                <p><b style="color:yellow">陈曦 （昵：小妖曦）</b></p>
                <p>女 | 未婚 | 1987 年3月生 | 户口：四川成都 | 现居住于北京</p>
                <p>18610632337(手机) | E-mail: <a href="mailto:chenxi195@gmail.com">chenxi195@gmail.com</a></p>
                <p>西华大学 | 艺术设计 | 本科 | 文学学士学位 | 英语四级</p>
                <p>前端开发工程师 | 4年工作经验 | 无党派人士 </p>
                <p>现就职于：途灵岛（北京）信息技术股份有限公司 | <a href="http://www.tulingdao.com/" target="_blank">www.tulingdao.com</a></p>
                <p>精通Html+CSS，熟练各种seo技能，熟悉JavaScript，熟练使用photoshop，精通六大主流浏览器和各种手机浏览器的兼容性调试，精通web2.0，熟悉用户体验，有良好的web思想，对前后台配合，有丰富的工作经验。做过大型网站，iphone游戏，Android游戏，日本和国内手机游戏，对研究Html5+CSS3+JavaScript有浓厚兴趣。</p>
                <p><b style="color:yellow">工作经历：</b></p>
                <p>2009.09-2013.03 胡莱游戏</p>
                <p>2013.03-2014.06 立思辰</p>
                <p>2014.06-至今 途灵岛</p>
                <p><b style="color:yellow">技能get：</b></p>
                <p></p>
                <p><b style="color:yellow">个人评价：</b></p>
                <p>死宅，爱吐槽，腹黑，不认真会死，技术流。。。。</p>
            </dd>
        </dl>
    </div>
</div>

<div class="scrollblock" id="examples-easing">
    <h2 id="easing">working</h2>
    <div id="easing_bottom"></div>
</div>

<div class="scrollblock" id="howtouse">
    <p class="divider">&#9733; &#9733; &#9733;</p>
    <div class="con_left shadow radius" style="margin:20px auto;width:440px;">
        <div class="top_img"><img src="images/projec.jpg"/></div>
        <ol>
            <li>
                <dl>
                    <dt class="tu1 radius2 shadow"></dt>
                    <dd>
                        <p>挖宝猎人-手机社交游戏(已下线)</p>
                        <p>日本手机版的挖宝猎人，同时兼容docomo,softbank,au三个手机运营商旗下的多款手机机型，因在日本反应良好，故之后在国内人人网手机平台上推出了奇迹挖宝。。。</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="tu2 radius2 shadow"></dt>
                    <dd>
                        <p><a href="http://www.amchamchina.org/" target="_blank">中美商会--大型商业网站</a></p>
                        <p>历时四个月的开发才得以上线，因为网站是政府重要的商业网站所以在开发过程中，全程保密，严谨的的工作环境让这个大的项目得以实现。网站的右下角有powered by bokantech水印。。。</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="tu3 radius2 shadow"></dt>
                    <dd>
                        <p>mobo-手机社交游戏(已下线)</p>
                        <p>日本手机版的mobo又名魔堡，同时兼容docomo,softbank,au三个手机运营商旗下的多款手机机型，是一款塔防+装扮+培养类社交游戏。。。</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="tu4 radius2 shadow"></dt>
                    <dd>
                        <p><a href="http://uschinaecp.org/" target="_blank">ECP 中美能源合作项目--小型商业网站</a></p>
                        <p>中美商会旗下的项目，小型网站只需要花一个月时间上线。。。小组三个成员，设计师+前端+后台，浏览器全兼容。。。</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="tu5 radius2 shadow"></dt>
                    <dd>
                        <p><a href="http://www.uschinaacp.com/" target="_blank">ACP 中美航空合作项目--小型商业网站</a></p>
                        <p>中美商会旗下的项目，小型网站只需要花一个月时间上线。。。小组三个成员，设计师+前端+后台，浏览器全兼容。。。</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="tu6 radius2 shadow"></dt>
                    <dd>
                        <p>GameJ-体育类有奖竞猜游戏iphone App</p>
                        <p>与澳大利亚playup公司合作的游戏项目，全用html5+css3+jquery实现。。。</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="tu7 radius2 shadow"></dt>
                    <dd>
                        <p><a href="http://www.hoolai.com" target="_blank">胡莱游戏官网--公司官网</a></p>
                        <p>界面整体用iframe架构，小组成员四人，浏览器全兼容。。。</p>
                    </dd>
                </dl>
            </li>
        </ol>
    </div>
    <p class="divider">&#9733; &#9733; &#9733;</p>
</div>
<script>
    $(document).ready(function() {
        // initialize the plugin, pass in the class selector for the sections of content (blocks)
        var scrollorama = $.scrollorama({ blocks:'.scrollblock' });

        // lettering.js for coolness
        $('#title').lettering();
        $('#title span').css('display','block').css('float','left');
        $('.char9').css('padding-left','6px');

        // animate the title letters to explode
        scrollorama.animate('#title',{ duration: 300, property:'zoom', end: 8 });

        $('#title span').each(function() {
            scrollorama
                .animate($(this),{ duration: 400, property:'top', end: Math.random()*120-180 })
                .animate($(this),{ duration: 300, property:'rotate', start:0, end:Math.random()*720-360 });
        });

        // animate some examples
        scrollorama
            .animate('#unpin',{ duration:500, property:'padding-top', start:400, pin:true })
            .animate('#fade-in',{ delay: 400, duration: 300, property:'opacity', start:0 })
            .animate('#fly-in',{ delay: 400, duration: 300, property:'left', start:-1400, end:0 })
            .animate('#rotate-in',{ duration: 800, property:'rotate', start:720 })
            .animate('#zoom-in',{ delay: 200, duration: 600, property:'zoom', start:8 })
            .animate('#any',{ delay: 700, duration: 200, property:'opacity', start:0 })
            .animate('#any',{ delay: 800, duration: 200, property:'letter-spacing', start:18 });

        // animate the parallaxing
        scrollorama
            .animate('#parallax2',{ delay: 400, duration: 600, property:'top', start:800, end:-800 })
            .animate('#parallax3',{ delay: 200, duration: 1200, property:'top', start:500, end:-500 });

        // animate some easing examples
        var $easing = $('#easing'),
            $clone = $easing.clone().appendTo('#examples-easing')
                            .css({position:'relative',top:'-2.95em'})
                            .lettering();
        $easing.css({ color: '#131420', textShadow: '0 1px 0 #363959' });
        easing_array = [	'easeOutBounce',
                            'easeOutQuad',
                            'easeOutCubic',
                            'easeOutQuart',
                            'easeOutQuint',
                            'easeOutExpo' 		];
        $clone.find('span').each( function( idx, el ){
            scrollorama.animate( $(this), {
                delay:400,
                duration: 500,
                property:'top',
                end: 300,
                easing: easing_array[idx]
            });
        })

    });
</script>

