<script type="text/javascript" src="javascripts/home.js"></script>
<!--<div class="share_outer" id="shareOuter">-->
    <!--<div class="rote" id="rote"></div>-->
    <!--<span class="share">Share</span>-->
<!--</div>-->

<div class="container">

    <div class="col-lg-4">
        <div class="project_img"><img src="images/logo.jpg" width="100%"/></div>
        <div class="project_title">最新项目</div>
        <div class="project_content"></div>
    </div>

    <div class="col-lg-2">
        <div><img src="images/logo2.jpg" width="100%"/></div>
        <a class="collects" href="http://www.spielzeugz.de/html5/sticky-thing/" target="_blank">粘性物体-资料搜集</a>
        <a class="collects" href="http://roxik.com/mona/" target="_blank">调戏蒙娜丽莎-资料搜集</a>
        <a class="collects" href="http://mrdoob.com/projects/chromeexperiments/ball_pool/" target="_blank">造圈-资料搜集</a>
        <a class="collects" href="http://ghost-hack.com/post/jsexperiments/tunneler/tunneler.html" target="_blank">出彩-资料搜集</a>
        <a class="collects" href="http://mrdoob.com/projects/chromeexperiments/google_gravity/" target="_blank">谷歌垮了-资料搜集</a>
        <a class="collects" href="http://www.addyosmani.com/resources/canvasphoto/" target="_blank">照片墙-资料搜集</a>
        <a class="collects" href="http://andrew-hoyer.com/experiments/cloth/" target="_blank">网-资料搜集</a>
        <a class="collects" href="http://www.professorcloud.com/mainsite/canvas-nebula.htm" target="_blank">云效果-资料搜集</a>
        <a class="collects" href="http://bomomo.com/" target="_blank">物理运动-资料搜集</a>
        <div class="daily"><img src="images/daily.jpg" width="100%"/></div>
        <a class="collects" href="http://labs.qianduan.net/css_filter.html" target="_blank">-webkit-filter属性</a>
        <a class="collects" href="http://daneden.me/animate/" target="_blank">Animate.css</a>
        <a class="collects" href="http://css.doyoe.com/" target="_blank">css参考手册</a>
        <a class="collects" href="http://css3generator.com/" target="_blank">CSS3 Generator</a>
        <a class="collects" href="http://experiments.instrum3nt.com/markmahoney/ball/parent.html" target="_blank">多窗口信息同步</a>
        <a class="collects" href="http://www.woween.cn/resume/js/Clouds/" target="_blank">云效果</a>
        <a class="collects" href="http://www.woween.cn/resume/js/Sphere/" target="_blank">3D效果</a>
        <a class="collects" href="http://empaempa.github.com/GLOW/examples/complicated/" target="_blank">粒子动画</a>
        <a class="collects" href="http://www.openrise.com/lab/FlowerPower/" target="_blank">Draw!Draw!</a>
        <a class="collects" href="http://browserquest.mozilla.org/" target="_blank">BrowserQuest</a>
    </div>
    <div class="col-lg-6">
        <div class="banner">
            <div class="banner_items">
                <span class="banner1 sp"><a href="index"><em class="radius2"></em>我的首页</a></span>
                <span class="banner2"><a href="about"><em class="radius2"></em> 关于我</a></span>
                <span class="banner3"><a href="http://hi.baidu.com/chenxi_195" target="_blank"><em class="radius2"></em> 我的博客</a></span>
                <span class="banner4"><a href="material"><em class="radius2"></em> 资料搜集</a></span>
            </div>
        </div>
        <div class="about">About Me</div>
        <div class="about_content">
            <dl>
                <dt><img src="images/me.jpg"/></dt>
                <dd>
                    <!--<p>陈曦 （昵：小妖曦）</p>-->
                    <!--<p>女 | 已婚 | 1987 年3月生 | 户口：四川成都 | 现居住于北京</p>-->
                    <!--<p>18610632337(手机) | E-mail: <a href="mailto:chenxi195@gmail.com">chenxi195@gmail.com</a></p>-->
                    <!--<p>西华大学 | 艺术设计 | 本科 | 文学学士学位 | 英语四级</p>-->
                    <!--<p>资深前端开发工程师 | 5年工作经验 | 无党派人士 </p>-->
                    <!--<p>现就职于：途灵岛（北京）信息技术股份有限公司 | <a href="http://www.tulingdao.com/" target="_blank">www.tulingdao.com</a></p>-->
                    <!--<p>精通Html+CSS，熟练各种seo技能，熟悉JavaScript，熟练使用photoshop，精通六大主流浏览器和各种手机浏览器的兼容性调试，精通web2.0，熟悉用户体验，有良好的web思想，对前后台配合，有丰富的工作经验...</p>-->
                    <!--<p><a href="about" class="more radius2">More</a></p>-->

                    <span>陈曦 （昵：小妖曦）</span>
                    <span>女 | 已婚 | 1987 年3月生 | 户口：四川成都 | 现居住于北京</span>
                    <span>暂时保密 | E-mail: 暂时保密</span>
                    <span>西华大学 | 艺术设计 | 本科 | 文学学士学位 | 英语四级</span>
                    <span>资深前端开发工程师 | 5年工作经验 | 无党派人士 </span>
                    <span>现就职于：途灵岛（北京）信息技术股份有限公司 | <a href="http://www.tulingdao.com/" target="_blank">www.tulingdao.com</a></span>
                    <span>精通Html+CSS，熟练各种seo技能，熟悉JavaScript，熟练使用photoshop，精通六大主流浏览器和各种手机浏览器的兼容性调试，精通web2.0，熟悉用户体验，有良好的web思想，对前后台配合，有丰富的工作经验...</span>
                    <span><a href="about" class="more">More</a></span>

                </dd>
            </dl>
        </div>
        <!--<div class="product">-->
            <!--<div id="switchMenu">-->
                <!--<ul>-->
                    <!--<li><a href="#" class="box1" style="display:block"></a></li>-->
                    <!--<li><a href="#" class="box2"></a></li>-->
                    <!--<li><a href="http://www.amchamchina.org/" class="box3" target="_blank"></a></li>-->
                    <!--<li><a href="#" class="box4"></a></li>-->
                    <!--<li><a href="http://uschinaecp.org/" class="box5" target="_blank"></a></li>-->
                    <!--<li><a href="http://www.uschinaacp.com/" class="box6" target="_blank"></a></li>-->
                    <!--<li><a href="#" class="box7"></a></li>-->
                    <!--<li><a href="http://westernsurg.com/" class="box8" target="_blank"></a></li>-->
                    <!--<li><a href="http://www.hoolai.com/" class="box9" target="_blank"></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div id="switchNum">-->
                <!--<ul>-->
                    <!--<li class="active"><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                    <!--<li><a href="#">&nbsp;</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
