<div class="body">
	<div class="con_right" style="float:none;margin:0 auto;width:600px;height:310px;background:url(images/bg2.jpg) 0 0 no-repeat;">
		<ul class="banner" style="width:600px;">
			<li style="margin:90px 0 0 10px" class="radius2"><a href="index"><em class="radius2"></em>我的首页</a></li>
			<li style="margin:120px 0 0 55px" class="radius2"><a href="about"><em class="radius2"></em> 关于我</a></li>
			<li style="margin:90px 0 0 60px" class="radius2"><a href="http://hi.baidu.com/chenxi_195" target="_blank"><em class="radius2"></em> 我的博客</a></li>
			<li style="margin:120px 0 0 70px" class="radius2 sp"><a href="material"><em class="radius2"></em> 资料搜集</a></li>
			<div class="clear"></div>
		</ul>	
	</div>
	<div class="material_box radius2 shadow">
    	<div class="material_bg"></div>
		<ul class="material_ul">
        	<li><a href="http://www.spielzeugz.de/html5/sticky-thing/" target="_blank">粘性物体-资料搜集</a></li>
			<li><a href="http://roxik.com/mona/" target="_blank">调戏蒙娜丽莎-资料搜集</a></li>
			<li><a href="http://mrdoob.com/projects/chromeexperiments/ball_pool/" target="_blank">造圈-资料搜集</a></li>
			<li><a href="http://ghost-hack.com/post/jsexperiments/tunneler/tunneler.html" target="_blank">出彩-资料搜集</a></li>
			<li><a href="http://mrdoob.com/projects/chromeexperiments/google_gravity/" target="_blank">谷歌垮了-资料搜集</a></li>
			<li><a href="http://www.addyosmani.com/resources/canvasphoto/" target="_blank">照片墙-资料搜集</a></li>
			<li><a href="http://andrew-hoyer.com/experiments/cloth/" target="_blank">网-资料搜集</a></li>
			<li><a href="http://www.professorcloud.com/mainsite/canvas-nebula.htm" target="_blank">云效果-资料搜集</a></li>
			<li><a href="http://bomomo.com/" target="_blank">物理运动-资料搜集</a></li>
            <li><a href="http://labs.qianduan.net/css_filter.html" target="_blank">-webkit-filter属性</a></li>
			<li><a href="http://daneden.me/animate/" target="_blank">Animate.css</a></li>
			<li><a href="http://css.doyoe.com/" target="_blank">css参考手册</a></li>
			<li><a href="http://css3generator.com/" target="_blank">CSS3 Generator</a></li>
			<li><a href="http://experiments.instrum3nt.com/markmahoney/ball/parent.html" target="_blank">多窗口信息同步</a></li>
			<li><a href="http://www.woween.cn/resume/js/Clouds/" target="_blank">云效果</a></li>
			<li><a href="http://www.woween.cn/resume/js/Sphere/" target="_blank">3D效果</a></li>
			<li><a href="http://empaempa.github.com/GLOW/examples/complicated/" target="_blank">粒子动画</a></li>
			<li><a href="http://www.openrise.com/lab/FlowerPower/" target="_blank">Draw!Draw!</a></li>
			<li><a href="http://browserquest.mozilla.org/" target="_blank">BrowserQuest</a></li>
            <li><a href="http://jaist.dl.sourceforge.net/project/freemarker/chinese-manual/FreeMarker_Manual_zh_CN.pdf" target="_blank">FreeMaker在线手册</a></li>
            <li><a href="http://yuilibrary.com/" target="_blank">YUI在线文档</a></li>
            <li><a href="http://ued.taobao.com/blog/" target="_blank">TaobaoUED</a></li>
            <li><a href="http://rocha.la/jQuery-slimScroll/" target="_blank">jQuery slimScroll</a></li>
            <li><a href="http://www.ztree.me/v3/main.php#_zTreeInfo" target="_blank">zTree--jQuery 树插件</a></li>
            <li><a href="http://www.jstree.com/demo" target="_blank">jsTree</a></li>
            <li><a href="http://www.appelsiini.net/projects/lazyload/enabled_fadein.html" target="_blank">Lazy Load</a></li>
            <li><a href="http://www.daqianduan.com/example/?pid=4447" target="_blank">CSS3小图标集合</a></li>
            <li><a href="http://www.w3cfuns.com/topic-38.html" target="_blank">前端用户信息统计平台</a></li>
            <li><a href="http://www.bootcss.com/" target="_blank">Bootstrap 前端开发框架</a></li>
            <li><a href="http://www.adobe.com/games" target="_blank">flash games</a></li>
        </ul>
    </div>
</div>
