/*Common*/
body {background-color:#f5f5f5;font-family: '微软雅黑', Candara, Arial;}

/*header*/
.top_color, .bottom_color {height:5px;overflow:hidden;width:100%;z-index: 1040;}
.top_color {background:url(../imgs/top_color.gif) 0 0 repeat-x;}
.bottom_color {background:url(../imgs/top_color.gif) 0 0 repeat-x;bottom:0;}
.top_style {background:#080808 url('/images/top_color.gif') 0 bottom repeat-x;border-bottom:none;}
.top_style .navbar-nav li.active a {background:rgba(0,0,0,0.6);}
.c_header {background: url('/images/bg.png');}
.c_header h1 {color: #fff;font-family: Candara;}
.head_height {height: 50px;}

/*footer*/
.footer_main {background:#080808;position: fixed;bottom: 5px;left: 0;z-index: 1000;width: 100%;}
.footer {height:69px;text-align: center;padding-top:10px;}
.footer p {color:#9A9A9A;}
.footer p a {padding:0 5px;font-size:10px;color:#9A9A9A;}
.footer p a:hover {color:#fff;}
.footer p.copyright{color:#BBC1A0;margin-left:15px;padding-top:10px;font-family: Candara;font-size:10px;}
.footer p.copyright .design{font-size:12px;font-weight:bold;color:#fff;padding:2px;font-family: Candara;}

/*index*/
.c_title {height: 137px;}




/*rote*/
/*.share_outer {position:fixed;*position: absolute; width:250px;height:130px;top:100px;left: -130px;}*/
/*.share_outer .rote {width: 130px;height: 130px;float: left;border-radius: 65px;border:1px yellow solid;background:transparent;}*/
/*.share_outer .share {float: left;width:112px;height:40px;line-height:40px;font-family:candara;text-align:center;background:yellow;border-radius:0 10px 10px 0;color:#333;font-size:16px;margin: 50px 0 0 -2px;}*/
/*.share_outer.out {transform:rotate(10deg);-webkit-transform:rotate(10deg);-moz-transform:rotate(10deg);-khtml-transform:rotate(10deg); -o-transform:rotate(10deg);-ms-transform:rotate(10deg);}*/

/*left*/
/*.project_img {background: url(../images/logo.jpg) top center no-repeat;background-size: 100%;}*/
/*.project_title {height:45px;line-height: 45px;border-bottom:1px #535353 solid;background:#323232 url(../images/news_icon.gif) 15px 5px no-repeat;font-size:16px;padding-left: 60px;color: yellow;}*/
/*.project_content {min-height: 400px;background-color: #323232;padding: 10px 0;}*/
/*.project_content .thumbnail {background-color: #222;width: 90%;margin: 0 auto 10px;border: 1px #535353 dashed;}*/
/*.project_content .thumbnail h4,  .project_content .thumbnail p{color: #fff;}*/

/*middle*/
/*a.collects {display:block;color:#dbdfc0;font-size: 12px;height:22px;line-height:22px;border-bottom:1px #535353 solid;padding-left:18px;background:#7c806b url(../images/bullet.gif) 5px 8px no-repeat;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}*/
/*a.collects:hover {background-color:#bd3535;color:#323232;}*/

/*right*/
/*.banner {height:280px;}*/
/*.banner_items {background:url(../images/right_bg.png) 0 0 no-repeat;background-size: 100%;width: 100%;height: 100%;position: relative;}*/
/*.banner_items span {position: absolute;width:75px;-background:#fafdff;text-align:center;height:25px;line-height:25px;}*/
/*.banner_items span a {display:block;color:#9e0680;font-size: 12px; -webkit-transition-duration: 0.5s;-webkit-transform-origin:0px 5px;background:#fafdff;border-radius:3px;-moz-transition-duration: 0.5s;-moz-transform-origin:0px 5px;-o-transition-duration: 0.5s;-o-transform-origin:0px 5px;}*/
/*.banner_items span a em {display:block;width:6px;height:6px;background:#929292;float:left;margin:10px 2px 0 7px;overflow:hidden;border-radius: 3px;}*/
/*.banner_items span a:hover {color:yellow;background-color:#323232; -webkit-transform:rotate(5deg);-khtml-border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-transform:rotate(5deg);-o-transform:rotate(5deg);}*/
/*.banner_items span a:hover em {background:#9e0680;}*/
/*.banner_items span.sp {-background-color:#323232;}*/
/*.banner_items span.sp a {color:yellow;background-color:#323232;}*/
/*.banner_items span.sp a em{background:#9e0680;overflow:hidden;}*/
/*.banner_items span.banner1 {top: 15%;left: 15%;}*/
/*.banner_items span.banner2 {top: 30%;left: 35%;}*/
/*.banner_items span.banner3 {top: 15%;left: 55%;}*/
/*.banner_items span.banner4 {top: 30%;left: 75%;}*/
/*.about {min-height:50px;border-bottom:1px #707070 dashed;font-size:30px;font-family:Candara;padding-left:40px;color:yellow;line-height:50px;}*/
/*.about_content {border:1px #535353 solid;background:#323232;margin-top:15px;}*/
/*.about_content dl dt {width:100px;height:100px;float:left;margin:15px;}*/
/*.about_content dl dt img {width:100px;height:100px;}*/
/*.about_content dl dd {padding:12px 10px;color: #dedede;font-size: 12px;}*/
/*.about_content dl dd span {display:block;line-height:17px;}*/
/*.about_content dl dd span a {color:#a7c9f2;}*/
/*.about_content dl dd span a.more {font-size:10px;float:right;color:#fff;}*/

/*about*/
/*.project_list {background-color:#323232;}*/
/*.project_list dl {border-bottom:1px #999 dashed;overflow: hidden;margin-bottom: 10px;}*/
/*.project_list dl:nth-last-child(1) {border-bottom: none;}*/
/*.project_list dl dt {float:left;display:inline;}*/
/*.project_list dl dt {width:60px;height:60px;margin:8px 10px 3px;}*/
/*.project_list dl dd {margin-top:5px;font-size: 12px;}*/
/*.project_list dl dd p {color: #fff;}*/
/*.project_list dl dd p a {color:yellow;}*/
/*.project_list dl dd p:nth-child(2) {color:#ccc;line-height:18px;}*/
/*.tu1 {background:url(../images/dif.jpg) -120px -50px no-repeat;}*/
/*.tu2 {background:url(../images/amcham.jpg) -20px -20px no-repeat;}*/
/*.tu3 {background:url(../images/mobo.jpg) -20px -20px no-repeat;}*/
/*.tu4 {background:url(../images/ecp.jpg) -20px -20px no-repeat;}*/
/*.tu5 {background:url(../images/acp.jpg) -50px -60px no-repeat;}*/
/*.tu6 {background:url(../images/gamej.jpg) -70px -50px no-repeat;}*/
/*.tu7 {background:url(../images/hoolai.jpg) -20px -20px no-repeat;}*/

/*material*/
/*.material {height:30px;padding-left:10px;line-height:30px;border-bottom:1px #ccc dashed;margin:0 5px;}*/
/*.material_box {min-height:300px;background-color:#333;}*/
/*.material_bg {height:100px;background:url(../images/material.png) 0 0 no-repeat;background-size: 100%;}*/
/*.material_ul {overflow:hidden;padding:10px 0;}*/
/*.material_ul li {float:left;display:inline;margin:5px 10px;}*/
/*.material_ul li a {display:block;color: #ccc;text-align:center;font-size:14px;width:100%;height:100%;padding:5px;-webkit-transition-duration: 0.5s;-khtml-border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-transition-duration: 0.5s;-o-transition-duration: 0.5s;}*/
/*.material_ul li a:hover {color:yellow;background-color:#222; -webkit-transform:rotate(3deg);-khtml-border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-transform:rotate(3deg);-o-transform:rotate(3deg);}*/





/*content_right*/
/*#switchMenu {width:450px;height:160px;margin:20px auto;position:relative;overflow:hidden;}*/
/*#switchMenu ul {position:absolute;top:0;height:160px;}*/
/*#switchMenu ul li {height:160px;}*/
/*#switchMenu a {display:block;width:450px;height:160px;}*/

/*#switchNum {height:20px;padding-left:17px;}*/
/*#switchNum li {width:6px;height:6px;float:left;margin:5px;}*/
/*#switchNum li a {display:block;width:6px;height:6px;overflow:hidden;background:#555;-khtml-border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}*/
/*#switchNum li.active a {background:yellow;}*/

/*.box1 {background:url(../images/dif.jpg) 0 0 no-repeat;}*/
/*.box2 {background:url(../images/mobo.jpg) 0 0 no-repeat;}*/
/*.box3 {background:url(../images/amcham.jpg) 0 0 no-repeat;}*/
/*.box4 {background:url(../images/amcham2.jpg) 0 0 no-repeat;}*/
/*.box5 {background:url(../images/ecp.jpg) 0 0 no-repeat;}*/
/*.box6 {background:url(../images/acp.jpg) 0 0 no-repeat;}*/
/*.box7 {background:url(../images/gamej.jpg) 0 0 no-repeat;}*/
/*.box8 {background:url(../images/iws.jpg) 0 0 no-repeat;}*/
/*.box9 {background:url(../images/hoolai.jpg) 0 0 no-repeat;}*/




