* {margin: 0; padding: 0;font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,Arial,sans-serif;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a {text-decoration: none;color: #666;}
var {font-style: normal;}
body {background: #ECECEC;position: relative;}
ul, ol {list-style-type: none;}
section {position: relative;}
.fl {float: left;}
.fr {float: right;}
.clear {clear: both;height: 0;overflow: hidden;}
#page1 {-webkit-transform:translateX(0) translateY(0) translateZ(0);}
#page2 {position: absolute;width: 100%;left: 0; top: 0;z-index: 1000; -webkit-transform:translateX(500px) translateY(0) translateZ(0);}
header {height: 50px;background: #F6F6F6;box-sizing: border-box;-webkit-box-sizing: border-box;}
.header_right, .header_right2, .header_left {width: 2em; height: 50px;position: absolute;top: 0;line-height: 50px;text-align: center;}
.header_right { right: 0;}
.header_right2 {right: 2em;}
.header_left {left: 0;}
.header_title {width: 10em;height: 3em;margin: 0 auto;line-height: 3em;text-align: center;font-size: 1.1em;}
.head_height {height: 3em;}
.remind, .search, .back {width: 1em;height: 1em;text-align: center;display: block;position: relative;margin: 1em auto;}
.remind em {position: absolute; right: 0;top: -3px;color: red;width: 4px; height: 4px;font-size: .1em;}
.text_submit_box {width: 20%;text-align: center;}
.text_submit_box a {line-height: 50px;}
.search_box {width: 80%;}
.search_toolbar {width: 96%;margin: 10px auto;position: relative;}
.search_toolbar .icon-search {position: absolute;width: 24px; height: 24px;left: 5px;top:6px;}
.search_toolbar .icon-remove {position: absolute;width: 24px; height: 24px;right: 0px;top:6px;}
.search_toolbar .search_input {width: 100%;height: 30px;border-radius: 15px;border:none;display: block;padding-left: 30px;box-sizing: border-box;-webkit-box-sizing: border-box;}
.tab_box {width: 60%;margin: 0 auto;overflow: hidden;}
.tab_box a {width: 50%;float: left;height: 30px;margin-top: 10px;background: #fff;text-align: center;line-height: 30px;box-sizing: border-box;-webkit-box-sizing: border-box;}
.tab_box a:nth-last-child(1) {border-left:1px #d7d7d7 solid;}
.tab_box a.active {background: #f2f2f2;}
nav.nav_menu {height: 50px;background: #fff;border-top: 1px #e6e6e6 solid;padding: 5px 0;box-sizing: border-box;-webkit-box-sizing: border-box;}
nav.nav_menu a {float: left;width: 20%;height: 100%;text-align: center;box-sizing: border-box;-webkit-box-sizing: border-box;text-align: center;display: block;}
nav.nav_menu a span {display: block;}
nav.nav_menu a:nth-child(3) span:nth-child(1) {width: 40px;height: 40px;margin: 0 auto;background: orange;border-radius: 20px;color: #fff;text-align: center;line-height: 40px;display: block;}
nav#tabSubContainer {z-index: 999;position: fixed;width: 100px;height: 100px;border: 1px #ccc solid;background: #fff;left: 50%;bottom: -150px;margin-left: -50px;}
.loading {width: 100%;background: rgba(0,0,0,0.3);position: fixed;z-index: 10000;left: 0;top: 0;color: #fff;height: 1000px;line-height: 460px;text-align: center;}
.errorMsg {width: 100%;position: fixed;z-index: 9999;left: 0;top: 100px;color: #fff;line-height: 20px;text-align: center;}
.errorMsg div {width: 50%;text-align: center;line-height: 24px;background: rgba(0,0,0,0.8);border-radius: 4px;margin: 0 auto;padding: 10px;}
.load_more {height: 40px;line-height: 40px;color: #111;/*position: relative;z-index: 1;*/;width: 260px;margin:0 auto;border-radius: 6px;color: #999;margin-top: 15px;}
.page {width: 100%;height: 1000px;}
#panelContainer {position: relative;overflow-x: hidden; overflow-y: scroll;height: 300px;}
.page1 {}
.page2 {position: absolute; z-index: 1000; left: 0; top: 0;-webkit-transform:translateX(500px) translateY(0) translateZ(0);}
.mask {width: 100%; height: 100%;position: fixed;background: rgba(0,0,0,0.2);left: 0; top: 0;}
.swipeLeftIn {
    -webkit-animation-name: leftIn;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.swipeRightIn {
    -webkit-animation-name: rightIn;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.swipeLeftOut {
    -webkit-animation-name: leftOut;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.swipeRightOut {
    -webkit-animation-name: rightOut;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.swipeUpIn {
    -webkit-animation-name: upIn;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.swipeDownOut {
    -webkit-animation-name: downOut;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rightIn {
    from {-webkit-transform:translateX(500px) translateY(0) translateZ(0);}
    to {-webkit-transform:translateX(0) translateY(0) translateZ(0);}
}
@-webkit-keyframes leftIn {
    from {-webkit-transform:translateX(-500px) translateY(0) translateZ(0);}
    to {-webkit-transform:translateX(0px) translateY(0) translateZ(0);}
}
@-webkit-keyframes rightOut {
    from {-webkit-transform:translateX(0) translateY(0) translateZ(0);}
    to {-webkit-transform:translateX(500px) translateY(0) translateZ(0);}
}
@-webkit-keyframes leftOut {
    from {-webkit-transform:translateX(0) translateY(0) translateZ(0);}
    to {-webkit-transform:translateX(-500px) translateY(0) translateZ(0);}
}
@-webkit-keyframes upIn {
    from {-webkit-transform:translateX(0) translateY(0) translateZ(0);}
    to {-webkit-transform:translateX(0) translateY(-200px) translateZ(0);}
}
@-webkit-keyframes downOut {
    from {-webkit-transform:translateX(0) translateY(-200px) translateZ(0);}
    to {-webkit-transform:translateX(0) translateY(0) translateZ(0);}
}

/*social_list*/
.social_list {background: #fff;-margin: 7.77px 0;}
.social_list .head {border-bottom: 1px #eee solid;padding: 0 7.77px;}
.social_list .head p {line-height: 2;color: #999;font-size: .9em;}
.social_list .head p .tags {float: right;}
.social_list .head p .tags em {color: #000;}
.social_list .head p .tags var {padding: 7.77px;}
.social_list .body {padding: 7.77px;color: #999;font-size: .9em;}
.social_user {overflow: hidden;padding: 7.77px 0;}
.su_img {width: 40px; height: 40px;float: left;margin-right: 7.77px;background: #ccc;}
.su_img img {width: 100%;height: 100%;}
.su_name {margin-left: 47.77px;}
.su_time {color: #ccc;font-size: .8em;}
.social_content {line-height: 1.4;}
.social_pictures ul {overflow: hidden;width: 280px;}
.social_pictures ul li {width: 70px;float: left;margin-right: 7.77px;margin-top: 7.77px;height: 70px;background: #ccc;}
.social_area {overflow: hidden;}
.social_area span {float: right;}
.social_area span em {color: #000;}
.social_recommend {padding: 7.77px 0;}
.social_recommend span {width: 15px;height: 15px;color: #000;}
.social_list .foot {overflow: hidden;border-bottom: 1px #d7d7d7 solid;border-top: 1px #d7d7d7 solid;}
.social_list .foot a {float: left;width: 25%;text-align: center;line-height: 40px;border-right: 1px #d7d7d7 solid;box-sizing: border-box; -webkit-box-sizing: border-box;}
.social_list .foot a:nth-last-child(1) {border-right:none;}

/*detail*/
.commend_list {font-size: .9em;padding: 0 7.77px;color: #999;}
.commend_list li {line-height: 1.5;}
.commend_list li span {color: orange}
.commend_input {width: 96%;margin: 7.77px;}
.commend_input input {border: 1px #ccc solid;width: 100%;height: 30px;box-sizing: border-box;-webkit-box-sizing: border-box;padding-left: 7.77px;}

/*contracts*/
.contracts_letter {background: #F2F2F2;color: #ccc;line-height: 2;padding-left: 7.77px;}
.contracts_list {background: #fff;}
.contracts_list li {overflow: hidden;padding: 7.77px;border-bottom: 1px #E9E9E9 solid;}
.cl_img {width: 40px;height: 40px;background: #999;float: left;}
.cl_name {margin-left: 47.77px;color: #999;}
.lc_table {width: 100%;border-collapse: collapse;color: #999;}
.lc_table td {vertical-align: top;}
.lct_td1 {width: 50px;}
.lct_td3 {text-align: right;width: 80px;}
.lct_msg {font-size: .8em;color: #ccc;}
.lct_time {font-size: .8em;}
.msg_img {width: 60px; height: 60px;background: #ccc;float: right;}

/*filter*/
.filter_box {height: 50px;background: #f2f2f2;position: fixed;z-index: 1000;left: 0;width: 100%;top: 50px;}
.filter_option {float: left;width: 33.3%;box-sizing: border-box;-webkit-box-sizing: border-box;height: 50px;text-align: center;line-height: 50px;}
.filter_option .o_text, .filter_option .icon-angle-down {display: inline-block;color: #666;}
.filter_option .o_text {margin-right:5px;}
.filter_list {font-size: .9em;}
.filter_list li {margin-bottom: 7.77px;background: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;padding: 7.77px;line-height: 1.4em;}


/*slide menu*/
.slide_menu {overflow: hidden;}
.slide_menu .slide_left {width: 50%;float: left;}
.slide_menu .slide_right {margin-left: 50%;background: #fff;}
.slide_menu .slide_left .curr {color: red;}
.slide_menu .slide_right .curr {color: red;}
.slide_row_menu {overflow: hidden;}
.slide_row_menu .slide_left {width: 100%;overflow: hidden;}
.slide_row_menu .slide_left div {width: 33.3%;float: left;height: 50px;line-height: 50px;box-sizing: border-box;-webkit-box-sizing: border-box;border-right: 1px #ccc solid;background: #fff;text-align: center;}
.slide_row_menu .slide_right {}
.slide_inline_menu .slide_title {background: #fff;}
.slide_calendar_menu {overflow: hidden;height: 100px;background: #fff;}
.slide_calendar_menu .slide_left, .slide_calendar_menu .slide_right, .slide_calendar_menu .slide_third {float: left;height: 100px;overflow-x: hidden; overflow-y: scroll;background: #fff;border-right: 1px #efefef solid;width: 32%;box-sizing: border-box;-webkit-box-sizing: border-box;padding: 7.77px;}
.slide_calendar_menu .slide_third {border-right: none;}
/*inline list*/
.inline_list {overflow: hidden;background: #fff;}
.inline_item {overflow: hidden;}
.inline_item div {float: left; width: 33.3%;height: 40px;box-sizing: border-box;-webkit-box-sizing: border-box;margin: 5px 0;}
.inline_item div span {display: block;width: 96%;height: 36px;border-radius: 18px;border: 1px orange solid;text-align: center;line-height: 36px;}
.inline_title {line-height: 30px;border-bottom: 1px #ccc solid;}

/*slide_input*/
#slideInput {width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: #fff;z-index: 10001; -webkit-transform:translateX(0) translateY(600px) translateZ(0);}
.slide_input_title {text-align: center;background: #efefef;height: 50px;overflow: hidden;box-sizing: border-box;-webkit-box-sizing: border-box;line-height: 50px;padding: 0 7.77px;}
.slide_input_title .input_cancel {float: left;}
.slide_input_title .input_sure {float: right;}
.slide_input_content {padding: 7.77px;box-sizing: border-box;-webkit-box-sizing: border-box;}
.slide_input_content textarea {width: 100%;padding: 7.77px;}
.slide_input_title span {}
#slideInput.inputUpIn {
    -webkit-animation-name: inputUpIn;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
#slideInput.inputDownOut {
    -webkit-animation-name: inputDownOut;
    -webkit-animation-time-function: linear;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes inputUpIn {
    from {
        -webkit-transform:translateX(0) translateY(600px) translateZ(0);
    }
    to {
        -webkit-transform:translateX(0) translateY(0) translateZ(0);
    }
}
@-webkit-keyframes inputDownOut {
    from {
        -webkit-transform:translateX(0) translateY(0) translateZ(0);
    }
    to {
        -webkit-transform:translateX(0) translateY(600px) translateZ(0);
    }
}




