<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="keywords" content="chenxiblog" />
    <meta name="Description" content="chenxiblog" />
    <title>chenxiblog</title>
    <link rel="icon" href="/favicon.ico" width="32"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all"/>
    <script data-main="/bower_components/main" src="/bower_components/requirejs/require.js"></script>
</head>
<body>
<div class="affix affix-top top_color"></div>
<div class="container">
